.chat__write {
  position: fixed;
  width: 80%;
  bottom: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #fcfcfc;
  padding: 20px;
  border-radius: 40px;
  margin: 0 auto;
  left: 0;
  right: 0;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.chat__write i {
  font-size: 22px;
}

.chat__write-column:nth-child(2) {
  width: 80%;
}
