.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend .friend__avatar {
  width: 50px;
  border-radius: 43%;
  margin-right: 15px;
}

.friend__avatar.my-avatar {
  width: 70px;
}

.friend__avatar.m-avatar {
  width: 60px;
}

.friend .friend__column {
  display: flex;
  align-items: center;
}

.friend .friend__name {
  display: block;
  margin-bottom: 5px;
}

.friend__content .friend__status,
.friend__content .friend__bottom-text {
  opacity: 0.6;
}

.friend__content .friend__status {
  font-size: 12px;
}

.friend__content .friend__bottom-text {
  font-size: 14px;
}
.friend__content .friend__myname {
  font-weight: bold;
}

.friend .chat__timestamp {
  font-size: 12px;
  opacity: 0.6;
}

.friend .friend__now-listening {
  padding: 5px 10px;
  border-radius: 20px;
  border: 1.5px solid #5add77;
  font-size: 12px;
}

.friend__now-listening span {
  opacity: 0.5;
}

.friend__now-listening i {
  color: #5add77;
  margin-left: 10px;
  font-size: 10px;
}
